<div class="main">
	<div class="map-search">
		<div class="search-button-area">
			<button onclick="getLocation()", class: :maps__button>位置情報を共有する</button>
		</div>
  	<div id="map" style="height: 500px; width: 100%;"></div>
	</div>
</div>