<div class="main">
  <div class="show-inner">
    <div class="show-area">
      <div class="contents row">
        <div><%= @user.nickname %>さんの投稿一覧</div>
        <% @posts.each do |post| %>
          <div class="content_post" style="background-image: url(<%= post.image %>);">
            <div><%= post.text %></div>
            <div><%= post.user.nickname %></div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>