<div class="main-area">
  <div class="main-field">
    <%# 検索欄 %>
    <div class="search-area">
      <div class="search-field">
        <%= form_with(local: true, method: :get, class: "search-form") do |form| %>
        <%= form.text_field :keyword, placeholder: "検索する", class: "search-input" %>
        <%= form.submit "検索", class: "search-btn" %>
        <% end %>
      </div>
    </div>

    <%# 投稿欄 %>
    <div class="contents-area">
      <div class="content-post">
        <div class="content-high">
          <div class="content-upload">
            2024/05/23/17:30
          </div>
        </div>
        <div class="content-middle">
          <div class="content-title">
            やきとり大吉
          </div>
          <div class="content-place">
            東京都
          </div>
        </div>
        <div class="content-low">
          <div class="content-text">
            本日18時~19時で、テーブル席4人まで募集しています!<br>
            こちらのイベントでくださったお客様には、やきとり串を1本サービスさせていただきます!!<br>
            来店時に「nomonomoで見た」とお声がけください。<br>
            ご来店心よりお待ちしておりますm(_ _)m
          </div>
        </div>
      </div>

      <div class="content-post">
        <div class="content-high">
          <div class="content-upload">
            2024/05/23/17:26
          </div>
        </div>
        <div class="content-middle">
          <div class="content-title">
            居酒屋 まさる
          </div>
          <div class="content-place">
            神奈川県
          </div>
        </div>
        <div class="content-low">
          <div class="content-text">
            今日は店がひまひまなので、初対面の人同士みんなでワイワイ盛り上がりましょう！<br>
            来てくれた方には枝豆サービスしますよ〜<br>
            来店の際には「nomonomoで見た」とお伝えください!<br>
            たくさんのご来店待ってま〜す!!
          </div>

          <%# <div class="content-post">
            <div class="content-high">
              <div class="content-upload">
                2024/05/23/16:14
              </div>
            </div>
            <div class="content-middle">
              <div class="content-title">
                大喰い本舗
              </div>
              <div class="content-place">
                大阪府
              </div>
            </div>
            <div class="content-low">
              <div class="content-text">
                よく食べ、よく飲み、よく遊ぶ!<br>
                毎日笑顔でニッコニコ!!<br>
                常連さんも初めての方もいらっしゃい〜
              </div>
            </div>
          </div> %>

        </div>
      </div>
    </div>
  </div>
</div>