* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
  
body {
  background-color: rgb(239, 233, 233);
}

.background {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
/*******************************************
          ヘッダー
********************************************/
header {
  width: 100%;
  height: 15vh;background-color: rgb(243, 234, 156);
}

/* .header-area {
  display: flex;
  justify-content: space-between;
} */

.header-left {
  padding-left:350px;
}

.header-logo {
  font-size: 50px;
  font-weight: bold;
  text-decoration: none;
  color: black;
}

.header-right {
  display: flex;
  justify-content: right;
  padding-right: 350px;
  align-items: end;
}

.signin-text {
  font-size: 20px;
  text-decoration: none;
  color: black;
}

.signup-text {
  font-size: 20px;
  margin-left: 50px;
  text-decoration: none;
  color: black;
}

.user-nickname {
  font-size: 20px;
  text-decoration: none;
  color: black;
}

.post {
  font-size: 20px;
  margin-left: 35px;
  text-decoration: none;
  color: black;
}

.logout {
  font-size: 20px;
  margin-left: 35px;
  text-decoration: none;
  color: black;
}

/*******************************************
          フッター
********************************************/
footer {
  width: 100%;
  height: 8vh;
  background-color: rgb(243, 234, 156);
}

.footer-area {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*******************************************
          indexメイン
********************************************/
.index-main {
  height: calc(100vh - 23vh);
  overflow: auto;
}

.index-inner {
  display: flex;
  justify-content: center; 
}

.index-area {
  width: 60vw;
}
/******** 検索欄 ****************************/
.search-area {
  height: 8vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-input {
  width: 30vw;
  height: 4vh;
}

.search-btn{
  width: 5vw;
  height: 4.5vh;
}
  
/******** 投稿欄 ****************************/
.contents-area {
  height: 100%;
  padding: 15px 100px;
}

.content-post-link {
  display: block;
  text-decoration: none;
  color: inherit;
}

.content-post {
  height: 30vh;
  margin-bottom: 20px;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
}

.content-high {
  margin-bottom: 10px;
}

.content-middle {
  display: flex;
  justify-content: left;
  align-items: end;
  margin-bottom: 10px;
}

.content-title {
  font-size: 25px;
}

.content-place {
  margin-left: 150px;
}

.content-low {
  overflow: auto;
}

/*******************************************
          sign_up /sign_in メイン
********************************************/
.sign-main {
  height: calc(100vh - 23vh);
}

.sign-inner {
  display: flex;
  justify-content: center; 
}

.sign-in-box {
  margin-top: 50px;
}

.sign-in-logo {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 15px;
}

.sign-up-box {
  margin-top: 5px;
  overflow: auto;
}

.sign-up-logo {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 5px;
}

.sign-up-field {
  margin: 5px;
}

/*******************************************
          新規投稿する画面
********************************************/
.new-main {
  height: calc(100vh - 23vh);
}

.new-inner {
  display: flex;
  justify-content: center;
}

.new-form-area {
  margin-top: 50px;
}

.new-heading {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 15px;
}

.field{
  margin: 10px 0;
}

.form__text {
  width: 90%;
}

/*******************************************
          投稿詳細画面
********************************************/
.show-main {
  height: calc(100vh - 23vh);
}

.show-inner {
  display: flex;
  justify-content: center;
}

.show-area {
  margin: 5px auto;
}

.show-image-area {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.post__btn {
  margin-right: 50px;
  text-decoration: none;
  border: 1px solid black;
  border-radius: 5px;
  color: black;
  background-color: blanchedalmond;
}

.show-main-middle {
  display: flex;
  justify-content: left;
  align-items: end;
}

.show-content {
  margin-bottom: 15px;
}

.title {
  font-size: 20px;
  margin-right: 50px;
}

.text {
  width: 50vw;
}

/*******************************************
          探す画面
********************************************/
.map-main {
  height: calc(100vh - 23vh);
}

.map-text {
  height: calc(77vh - 550px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.map-share {
  background-color: rgb(255, 255, 255);
  border: 2px solid ;
  border-radius: 5px;
}

.share-btn {
  margin: 5px;
}

#map{
  height:550px;
  width:100%;
}